version: 2.1
orbs:
  node: circleci/node@4.9.0
  aws-cli: circleci/aws-cli@2.0.6
  eb: circleci/aws-elastic-beanstalk@2.0.1
 
jobs:
  build:
    docker:
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - aws-cli/setup
      - eb/setup
      
      - run:
          name: Front-End Install Dependencies
          command: |
            npm run frontend:install
      - run:
          name: Back-End Install Dependencies
          command: |
            npm run backend:install
      - run:
          name: Front-End Build
          command: |
            npm run frontend:build
      - run:
          name: Back-End Build
          command: |
            npm run backend:build
      - run:
          name: Back-End Deploy App
          command: |
            npm run backend:deploy
      - run:
          name: Front-End Deploy App
          command: |
            npm run frontend:deploy

            